# Ignore virtual environment directory
venv/

# environment variables
main/.env

main/__pycache__

orders/__pycache__
orders/migrations/__pycache__

products/__pycache__
products/migrations/__pycache__

user/__pycache__
user/migrations/__pycache__

categories/__pycache__
categories/migrations/__pycache__
